
{% extends 'base2.html' %}
{% load bootstrap4 %}

{% block title %}Log-in{% endblock %}

{% block body %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<style type="text/css">
	 
	.social-btn .btn {
		border: none;
        margin: 10px 3px 0;
        opacity: 1;
	}
    .social-btn .btn:hover {
		color: #f3c500;
        opacity: 15;
    }
	.social-btn .btn-primary {
        background: #507cc0;
    }
	.social-btn .btn-info {
		background: #64ccf1;
	}
	.social-btn .btn-danger {
		background: #df4930;
	}
    .or-seperator {
        margin-top: 20px;
        text-align: center;
        border-top: 1px solid #ccc;
    }
    .or-seperator i {
        padding: 0 10px;
        background: #f7f7f7;
        position: relative;
        top: -11px;
        z-index: 1;
    }   
</style>
	  
	 <section>
			<div id="page-wrapper" class="sign-in-wrapper">
				<div class="graphs">
					<div class="sign-in-form">
						<div class="sign-in-form-top">
							<h1>Log In</h1>
							{% if form.errors %}
							<p>
							Your username and password didn't match.
							Please try again.
							</p> 
							{% else %}
							<p>Please, use the following form to log-in:</p>
							{% endif %}
						
						</div>

						
						<div class="signin">
							<div class="signin-rit">
								<span class="checkbox1">
									 <label class="checkbox"><input type="checkbox" name="checkbox" checked="">Forgot Password ?</label>
								</span>
								<p><a href="{% url 'password_reset' %}">Click Here</a> </p>
								<div class="clearfix"> </div>
							</div>

							<input type="hidden" name="next" value="{{ next }}" />
							<form action="{% url 'login' %}" method="post">

							<!-- <form method="post" class="form"> -->
								{% csrf_token %}
								{% bootstrap_form form %}
								{% buttons %}
									<input type="hidden" name="next" value="{{ next }}" />

									<input type="submit" class="btn btn-primary" value="Log in">
								{% endbuttons %}


								<div class="or-seperator"><i>or</i></div>
								<p class="text-center">Login with your social media account</p>
								<div class="text-center social-btn">
									<a href="{% url 'social:begin' 'facebook' %}" class="btn btn-primary"><i class="fa fa-facebook"></i>&nbsp; Sign in using Facebook</a>
									<!-- <a href="#" class="btn btn-info"><i class="fa fa-twitter"></i>&nbsp; Twitter</a> -->
									<a href="{% url "social:begin" "google-oauth2" %}" class="btn btn-danger"><i class="fa fa-google"></i>&nbsp;Sign in using  Google</a>
								</div>
							</form>

						</div>
 
						<div class="new_people">
							<h2>For New People</h2>
							<p>Having hands on experience in creating innovative designs,I do offer design 
								solutions which harness.</p>
							<a href="{% url 'accounts:register' %}">Register Now!</a>
						</div>
					</div>
				</div>
			</div>
			
	</section>
 
    {% endblock body %}